@font-face {
   font-family: 'Oswald-VariableFont_wght';
   font-display: swap;
   src: url('file:///Users/aaa/Documents/My%20Files%20and%20Folders/my%20mac%20docs/Projs/21/21nco%20AAA%20Proj/AAA%20job%20posting/sub-proj%20roh/roh%20website/roh%20mobirise%20published/roh-001/fonts/Oswald-VariableFont_wght/font.ttf');
}
