@font-face {
   font-family: 'Oswald-ExtraLight';
   font-display: swap;
   src: url('file:///Users/aaa/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-08-15_104031/fonts/Oswald-ExtraLight/font.ttf');
}
